		<footer>
		<div class="footer-bg">
			<div class="container footer-align-content">
				<div class="row">
					<div class="col-lg-8 col-md-12 ">
						<div class="row footer-top-row">
							<div class="col-lg-6">
								<p class="footer-headings">Sign Up for the Newsletter</p>
								<form>
									<input type="text" name="email" placeholder="We Never Spam" class="input-form-home">
								</form>
							</div>
							<div class="col-lg-6">
								<p class="footer-headings">Follow Us</p>
								<span class="footer-social-links">
									<a href="mayankchauhan971@gmail.com" target="_blank" class="far fa-envelope"></a>
									<a href="facebook.com" target="_blank" class="fab fa-facebook-square"></a>
								</span>
							</div>
						</div>
						<div class="row footer-bottom-row">
							<div class="col-lg-6 add-bottom-margin">
								<p class="footer-headings">Contact Us</p>
								<p>Made with ❤ by our <a href="#">Our Team</a> </p>
							</div>
							<div class="col-lg-6">
								<span>© 2019 Yoddhas</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 quick-links">
						
							<p class="footer-headings">Quick Links</p>
							<p>
								<p><a href="/">Home</a></p>
								<p><a href="/about">About Us</a></p>
								<p><a href="#">Explore</a></p>
								<p><a href="/dashboard">Dashboard</a></p>
							</p>
						
					</div>
				</div>
			</div>
		</div>	
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>