<!DOCTYPE html>
<html>
<head>
	<title>Yoddhas</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/mainindex.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/themify-icons.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nice-select.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400" rel="stylesheet">
	<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
	<link href="/stylesheets/ourteam.css" rel="stylesheet" type="text/css">
	<link href="/stylesheets/faq.css" rel="stylesheet" type="text/css">
	<link href="/stylesheets/bonemarrow.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<body>
	<header class="default-header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand" href="">
					<img src="/logo.png" alt="" style="width: 40%">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li><a class="active" href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/causes">Causes</a></li>
						<li><a href="/event">Event</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								Pages
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="event-details.html">Event Details</a>
								<a class="dropdown-item" href="elements.html">Elements</a>
							</div>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								Blog
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="blog.html">Blog</a>
								<a class="dropdown-item" href="blog-details.html">Blog Details</a>
							</div>
						</li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
