<% include partials/header%>

<div class="bgImageAbout">
	<div class="aboutImageText">ABOUT US</div>
</div>

<div class="ui container">
	<p class="aboutus-p-top">
		It is a forum for all brave Indians fighting against Cancer. We strive to be the trusted source of information
		and support for anybody dealing with cancer in India.This initiative is purely NON PROFIT started by a 28 year
		old male fighting a rare incurable for of Blood Cancer called Multiple Myeloma.
	</p>

	<h3 style="text-align: center; padding-top: 10px;">
		What We Do
	</h3>
	<p class="aboutus-p-bottom">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	</p>

	<h3 style="text-align: center;">
		Our Mission
	</h3>
	<p  style="text-align: center"   class="aboutus-p-bottom" style="padding-bottom: 90px;">

		Help Patients with:-Emotional, factual, informational support.
		<br>
		Motivate and Inspire each other - Basic Inquiry, Discussions , Share experiences, etc
		<br>
		Treatments, Medicine reactions, side effects etc.
	</p>
</div>


<div class="bgGreyPeople">
	<h2 class="designationName">
		<center>OUR FOUNDER</center>
	</h2>
	<div class="ui container container-people">
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<center>
					<img src="../rahulYadav.jpg" class="founderImg">
				</center>
			</div>
			<div class="col-lg-8 col-md-12" style="padding-top: 30px; padding-bottom: 30px;">
				<p>
					<h3>Rahul Yadhav</h3>
					<h5 style="color: orange">Founder</h5>
					<p>
						Mr. Rahul Yadav is the founder of Yoddhas-Indians Fighting Against Cancer. He is an MBA graduate
						from Symbiosis Institute of Management Studies (SIMS), Pune. As every other young MBA graduate,
						Mr.
						Rahul was looking for a great career, went on to working with HCL Technologies, later which he
						left
						the firm and joined in Society Generale – A French Investment Bank in Bangalore in 2013.



					</p>
					<p>
						A stable job, newlywed, Rahul Yadav was just starting on with his life. At 28, he suddenly found
						out
						he had cancer. Rahul’s initial efforts to understand Myeloma only led to more confusion as the
						internet failed to deliver authentic information on the disease.
						<br>


					</p>
					<p>
						While undergoing medical treatments, he looked for other ways to take control of the disease,
						and
						his life.
						His resources were limited to websites and support groups being run abroad, and Rahul deeply
						felt
						the void left by this lack of support beyond his immediate family. Advice on diet, medicine side
						effects, and psychological and emotional support for cancer patients in India was nearly
						non-existent. Rahul could not come to terms with not only the lack of information but also
						support
						for cancer patients in India.


						<br></p>
					<p>
						During the 15 rounds of chemotherapy, he met fellow cancer patients at the hospital with whom he
						initiated a small patient support group. Today, his initiative, known as ‘Yoddhas’ or warriors
						is a
						one-of-its-kind online support group where cancer patients in India can connect with each other
						and
						find the information and support they need.
						For Rahul, it is all about providing a cancer patient with all the support she/he needs. In its
						short existence of less than 3 year, Yoddhas has enabled people battling cancer to come out of
						their
						shell, shed social stigma attached to their condition and find a place to voice their
						experiences
						and help each other along this tough journey. Today Yoddhas is a pan india cancer support NGO
						helping more than 14000 patients and was awarded by UNESCO for its efforts.
					</p>
				</p>
			</div>
		</div>
	</div>

	<h2 class="designationName">
		<center>BOARD MEMBERS</center>
	</h2>
	<div class="ui container container-people">
		<div class="row">
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;">
						<center>Rashi Mandla</center>
					</div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;">
						<center>Krishna Yadav</center>
					</div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;">
						<center>Anshuman Dutta</center>
					</div>
				</center>
			</div>
		</div>
	</div>

	<h2 class="designationName">
		<center>ADVISORY</center>
	</h2>
	<div class="ui container container-people">
		<div class="row">
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;">
						<center>Rashi Mandla</center>
					</div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;">
						<center>Krishna Yadav</center>
					</div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;">
						<center>Anshuman Dutta</center>
					</div>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;">
						<center>Rashi Mandla</center>
					</div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;">
						<center>Krishna Yadav</center>
					</div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;">
						<center>Anshuman Dutta</center>
					</div>
				</center>
			</div>
		</div>
	</div>
</div>

<div style="padding-top: 50px; padding-bottom: 50px;">
	<center>
		<a href="/donate" class="positive ui button">Donate Now</a>
	</center>
</div>

<% include partials/footer%>