<% include partials/header%>

<div class="bgImageAbout">
	<div class="aboutImageText">ABOUT US</div>	
</div>

<div class="ui container">
	<p class="aboutus-p-top">
		YODDHAS is an NGO Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	</p>

	<h3 style="text-align: center; padding-top: 10px;">
		What We Do
	</h3>
	<p class="aboutus-p-bottom">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	</p>

	<h3 style="text-align: center;">
		Our Mission
	</h3>
	<p class="aboutus-p-bottom" style="padding-bottom: 90px;">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	</p>
</div>


<div class="bgGreyPeople">
	<h2 class="designationName"><center>OUR FOUNDER</center></h2>
	<div class="ui container container-people">
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<center>
					<img src="../rahulYadav.jpg" class="founderImg">
				</center>
			</div>
			<div class="col-lg-8 col-md-12" style="padding-top: 30px; padding-bottom: 30px;">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</div>

	<h2 class="designationName"><center>BOARD MEMBERS</center></h2>
	<div class="ui container container-people">
		<div class="row">
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;"><center>Rashi Mandla</center></div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;"><center>Krishna Yadav</center></div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;"><center>Anshuman Dutta</center></div>
				</center>
			</div>
		</div>
	</div>

		<h2 class="designationName"><center>ADVISORY</center></h2>
	<div class="ui container container-people">
		<div class="row">
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;"><center>Rashi Mandla</center></div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;"><center>Krishna Yadav</center></div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;"><center>Anshuman Dutta</center></div>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;"><center>Rashi Mandla</center></div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;"><center>Krishna Yadav</center></div>
				</center>
			</div>
			<div class="col-lg-4 col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
				<center>
					<img src="../rashiMandla.jpg" class="boardMemberImg">
					<div style="font-size: 1.3rem; font-weight: 700; padding-top: 20px;"><center>Anshuman Dutta</center></div>
				</center>
			</div>
		</div>
	</div>
</div>

<div style="padding-top: 50px; padding-bottom: 50px;">
	<center>
		<a href="/donate" class="positive ui button">Donate Now</a>
	</center>
</div>

<% include partials/footer%>