<% include partials/header%>

<h1 style="margin-top: 50px">This page will contain the basic info about cancer. Again use Infographics to make it interesting to read.</h1>


<% include partials/footer%>