<% include partials/header%>

<h1 style="margin-top: 50px">This page will contain the articles on healthy living from healthy living and blog pages of current website. This page will contain only brief info for article with a Readmore option, which will take to a new page will full article.This page will have option for recent posts(top 5). If feasible, we can do category wise search.</h1>


<% include partials/footer%>