<% include partials/header%>
<div class="row row-content">
  <div class="col-12">
    <div class="jumbotron">
      <h1 style="text-align: center">Donating bone marrow </h1>

    </div>
  </div>


  <div class="container c1">
    <div id="f1">
      <div class="row c1  ">
        <div class="col-sm-6 ">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active  peopleCarouselImg">
                <img class="d-block w-100 "
                  src="https://images.unsplash.com/photo-1505924618867-ff42db34a861?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  alt="First slide">
              </div>
              <div class="carousel-item peopleCarouselImg">
                <img class="d-block w-100"
                  src="https://cdn.pixabay.com/photo/2014/07/11/14/49/cancer-389921_960_720.jpg" alt="Second slide">
              </div>
              <div class="carousel-item peopleCarouselImg">
                <img class="d-block w-100"
                  src="http://poster.keepcalmandposters.com/default/5771798_keep_calm_and_be_a_bone_marrow_donor.png"
                  alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <div class="col-sm-6">

          <div class="col-12 c1">
            <div class="card card-body bg-light ">
              <blockquote class="blockquote">
                <p class="mb-0">Every year, nearly two-thirds of the approximately 200,000 patients in need of a bone
                  marrow
                  transplant will not find a marrow donor that matches within their families.</p>
                <div class="blockquote-footer">Nathan Deal
                </div>
              </blockquote>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container c1 ">
          <div class="col-12 " style=" margin:auto;">
            <a class="btn btn-warning  btn-lg btn-block" href="#DonorForm" role="button" data-toggle="tooltip"
              data-html="true" title="Or Email us at abc@gmail.com " data-placement="bottom">Be a Donor</a>

          </div>

        </div>
      </div>
    </div>
    <div class="row  content">
      <div class="container">
        <h2 style="text-align: center">Bone Marrow</h2>
        <div>
          <h4>About Bone Marrow Registry</h4>
          <p>One of the most effective way of treating certain cancer malignancies is by Stem Cells Transplant.
            Hence it is important for the patient , the caregiver and the doctor to understand various facets
            related to Stem Cells. While doctors are trained and very knowledgeable,
            the patient and the caregiver need to become aware. Here in section,
            we have intended to cover these issues for these two segments of people as a lay man.
            Most of the information has been compiled from the internet and put down in a logical order. </p>
        </div>
        <h4 style="text-align: center">Contents</h4>
        <div class="row">
          <div class="col-12 col-sm-3" style=" margin:auto;">
            <a class="btn btn-warning btn-block" href="#StemCell" role="button" data-placement="bottom">Stem Cell
              Transplant</a>
          </div>
          <div class="col-12 col-sm-3" style=" margin:auto;">
            <a class="btn btn-warning btn-block" href="#HLA" role="button" data-placement="bottom">HLA Matching
            </a>
          </div>
          <div class="col-12 col-sm-3" style=" margin:auto;">
            <a class="btn btn-warning btn-block" href="#StemDonor" role="button" data-placement="bottom">Stem Cell
              Donor</a>
          </div>
          <div class="col-12 col-sm-3" style=" margin:auto;">
            <a class="btn btn-warning btn-block" href="#Registries" role="button" data-placement="bottom">Donor
              Registries in India</a>
          </div>



        </div>

        <div style="margin-top: 20px" class="row " id="StemCell">
          <div class="col-12">
            <h3 style="padding-top: 20px">Stem Cell Transplant</h3>
            <p>
              According to the Leukemia and Lymphoma Society, every four minutes, someone in the United States is
              diagnosed with a blood cancer, and every ten minutes, a patient dies. The only way to cure many of these
              patients is through a stem cell / bone marrow transplant. Nevertheless, when people hear the words "bone
              marrow donation," they often conjure up images of doctors drilling into their spine, removal of bones,
              and
              excruciating pain. The truth is that bone marrow donation is actually a simple, safe, and relatively
              painless process. However, a lack of understanding about this process is a major reason why it is
              difficult for many patients, especially those of South Asian or other minority descent, to find suitable
              donors. Each year, more than 1,000 people die waiting for a bone marrow transplant, according to the
              Institute for Justice.
            </p>
          </div>
          <div class="col-12 offset-sm-2">

            <img src="https://lymphoma-action.org.uk/sites/default/files/media/bone_marrow%20and%20blood_cells.png"
              class="img-fluid" alt="Responsive image">

          </div>

        </div>
        <div style="margin-top: 20px" class="row" id="HLA">
          <div class="col-12">
            <h3 style="padding-top: 20px">HLA Matching</h3>
            <p>
              Many factors play a role in how the immune system knows the difference between self and non-self, but
              the
              most important for transplants is the human leukocyte antigen (HLA) system. Human leukocyte antigens are
              proteins found on the surface of most cells. They make up a person’s tissue type, which is different
              from
              a person’s blood type.
              <br>
              Each person has a number of pairs of HLA antigens. We inherit one of each of these pairs from each of
              our
              parents (and pass one of each pair on to each of our children). Doctors try to match these antigens when
              finding a donor for a person getting a stem cell transplant.
              <br>
              How well the donor’s and recipient’s HLA tissue types match plays a large part in whether the transplant
              will work. A match is better when all 6 of the known major HLA antigens are the same — a 6 out of 6
              match.
              People with these matches have a lower chance of graft-versus-host disease, graft rejection, having a
              weak
              immune system, and getting serious infections. For bone marrow and peripheral blood stem cell
              transplants,
              sometimes a donor with a single mismatched antigen is used — a 5 out of 6 match. For cord blood
              transplants a perfect HLA match doesn’t seem to be as crucial for success, and even a sample with a
              couple
              of mismatched proteins may be OK.
              <br>
              Doctors keep learning more about better ways to match donors. Today, fewer tests may be needed, for
              siblings since their cells vary less than an unrelated donor. But more than the basic 6 HLA antigens are
              often tested on unrelated donors to reduce the risks of mismatched types. Sometimes doctors will want to
              look at 5 pairs of antigens, for example, to try and get a 10 out of 10 match. Certain transplant
              centers
              now require high-resolution matching, which looks more deeply into tissue types. Other centers are doing
              clinical trials with related half-matched donors and different chemotherapy schedules. This is an active
              area of research because it’s often hard to find a good HLA match.
            </p>
          </div>
          <div class="col-12">
            <img
              src="https://i2.wp.com/bethematchbiotherapies.com/wp-content/uploads/2018/01/HLA_Matching_Visual_NB_v3b.jpg?fit=2000%2C1000&ssl=1"
              class="img-fluid" alt="Responsive image">

          </div>
        </div>
        <div style="margin-top: 20px" class="row" id="StemDonor">
          <div class="c1">
            <h2>Stem Cell Donor </h2>


            <p>
              Any healthy adult between the ages of 18 and 50 ( even 55 in some registries) can become a donor.
              However
              if you have, or have had in the past, a chronic or other serious conditions some of which are listed
              below) then you are not eligible.
            </p>
            <p>
              <ul>
                <h6>Important exclusion criteria:</h6>

                <li>Heart diseases (e. g. previous heart attack, coronary heart disease)</li>

                <li> Lung diseases (e. g. severe bronchial asthma)</li>

                <li>Diseases of the haematopoietic system</li>

                <li>Severe kidney diseases</li>

                <li>Thrombosis</li>

                <li> Severe illnesses of the central nervous system
                </li>
                <li>Cancer</li>

                <li>HIV or Aids</li>

                <li> Metabolic diseases (e. g. diabetes)</li>

                <li> Autoimmune conditions (e. g. rheumatism)</li>

                <li>Severe infectious diseases, (e. g. infectious jaundice, Hepatitis B, C)</li>

                <li> Weight under 50 kg</li>

                <li>Obesity, with a body mass index (BMI) > 40 (BMI)</li>
              </ul>
            </p>

            <strong>The Donation Process</strong>
            <br>
            If you are matched, you may be asked to donate in one of two ways. The method used is determined by the
            patient's doctor. We will consult with you on this but you must be willing to donate using either method.
            <br>
            Peripheral Blood Stem Cell (PBSC) Donation
            <br>
            Peripheral blood stem cell donationStem cells are collected via the blood stream. To increase the number
            of cells in the blood stream, for four consecutive days prior to the stem cell collection, donors receive
            a daily injection to stimulate stem cell production (G-CSF). On the day of donation, the donor’s blood is
            collected from one arm and passed through a machine that separates out the blood stem cells (apheresis).
            <br>
            The remaining blood is returned to the donor through the other arm. This is a non-surgical outpatient
            procedure that takes around four hours. Most of the donations are through this method.
            <br>
            <strong>Bone Marrow Donation</strong>
            <br>
            Bone marrow donation Marrow cells are collected from the back side of the pelvic bone (not the spine).
            Donors are given a general anaesthetic so no pain is experienced during the marrow extraction. This is a
            1-2 hour medical procedure. Some donors experience some short term pain, bruising and stiffness after the
            procedure.

            <br>
            Within a week of donating, most donors are able to return to work or school and resume their usual
            activities. This method of donation is less used.
            <br>
            Umbilical Cord Blood
            <br>
            Donated umbilical cord blood can be used to treat people with life-threatening diseases, including
            leukemia, other types of cancer, and immune and genetic disorders. Cord blood transplantation is often an
            effective alternative for people in need of bone marrow transplantation who cannot find a suitable
            tissue-matched donor, either within their own family or from unrelated donors on bone marrow registries.




          </div>
        </div>

        <div class="row" id="Registries">
          <div class="col-12">
            <h3 style="padding-top: 20px">Donor Registries in India</h3>
            <p>
              <h3 style="text-align: center">SOME ARTICLES ON VARIOUS REGISTRIES</h3>
            </p>


            <div>
              <bold>DATRI</bold>
            </div>


            <p>
              <bold>Marrow Donor Registry India (MDRI) centers in Mumbai</bold>

              <br>

              The Foundation has partnered with Marrow Donor Registry India (MDRI) to create a world -class registry
              of
              marrow donors in India for patients who have blood-related illnesses like leukemia, thalessemia,
              aplastic
              anemia and congenital immunodeficiency states.

            </p>
            <p>
              MDRI was set up in 2008 as an NGO at the Tata Memorial Centre with the sole purpose of creating a
              registry
              of committed, voluntary and unrelated donors for those patients requiring bone marrow transplantation
              and
              without an HLA- matched donor within their families. However, for the registry to be functional, more
              than
              one lakh donors need to be registered. People from the age group of 18-50 years are eligible for donor
              recruitment.

            </p>

            <p>One can register with MDRI at any of the following centres in Mumbai:</p>
            <ul>
              <li> S. L Raheja hospital Blood Bank, Mahim West. Tel: 56529683</li>

              <li>Tata Memorial Hospital, Parel, Mumbai 12. Tel: 65152695</li>

              <li>Saifee Hospital, Charni Road. Tel: 67570111</li>

              <li>Holy Family Hospital blood Bank, Bandra-50, Tel: 30610555</li>

              <li>Breach Candy hospital Blood Bank, Bulabhai Desai road, Mum 26. Tel: 23633651</li>
            </ul>
            <br>

            <bold> LIFECELL</bold>



            <bold>India to set up largest public cord blood bank </bold>

            <br>
            <br>
            <div class="row">
              <div class="card col-12" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">By Richa Sharma | IANS - NEW DELHI </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Published: 24th November 2013 01:26 PM</h6>
                  <p class="card-text">Nalini Ambady, the first Indian American woman to teach psychology at Harvard
                    and Stanford universities,
                    died of leukemia last month after failing to find a donor for a life-saving bone marrow transplant
                    both
                    in
                    the US and India. But she is not the only one. In India, the situation is very grim.

                    <br>
                    According to experts, over 70 percent of patients in need of a stem cell transplant are unable to
                    find a
                    match due to lack of bone marrow donors. Also, the inventory of donated umbilical cord blood units
                    is
                    negligible.

                    <br>
                    Realising the need for a repository, LifeCell - India's first stem cell banking company - has
                    planned to
                    set up the country's largest public cord blood bank. The Chennai-based company plans to have an
                    inventory
                    of 10,000 units that can be used for treatment during serious medical conditions.

                    <br>
                    "The need for a public repository of donor stem cells is being felt sharply with the sad demise of
                    Dr.
                    Nalini Ambady as she could not find a bone marrow match either in the US or India despite a
                    massive
                    online
                    campaign run by her family and friends," Mayur Abhaya, managing director and head of LifeCell,
                    told
                    IANS.
                    <br>
                    <br>
                    The company plans to spend Rs.25 crore/Rs 250 million for establishing the bank in Chennai in the
                    next
                    five years. At the moment, India has 15 private cord blood stem cell banks. But the need is
                    growing day
                    by
                    day.
                    <br>
                    <br>
                    This was specially felt in the Nalini Ambady case. Despite searching for a match in the US and
                    India,
                    she
                    could not find anything that could help her.

                    On the need for an extensive repository, Abhaya said: "Considering the huge ethnic diversity in
                    the
                    country many more units would be required to give patients a reasonable chance of finding a
                    match."
                    <br>
                    <br>
                    "The idea is to improve the stem cell asset base in the country to make the benefits available to
                    our
                    people. As of now the umbilical cord blood is wasted post-delivery," he said.

                    "We have tied up with over 100 large public health institutions for collection of around 100,000
                    cord
                    blood samples. Generally 1 in 10 samples are of storing quality; so by the end we will have a
                    repository
                    of 10,000 units," said Abhaya.
                    <br>
                    <br>
                    He said consent of the parent will be taken before releasing the unit to a needy patient.

                    "We have decided to keep a cost of Rs. 500,000 (over $8,300) to source a unit of cord blood as
                    compared
                    to
                    $40,000-50,000 (Rs. 25 lakh) in the US. In Europe, it costs the equivalent of Rs.21 lakh," he
                    said.
                    <br>
                    <br>
                    "In the recent years a large number of umbilical cord blood banks have been created worldwide to
                    provide
                    more access to these precious stem cells.
                    <br>
                    <br>
                    "In 2005 there were less than 25 banks worldwide and now there are over 500 banks around the world
                    with
                    an
                    umbilical cord blood bank now established in almost every major country," he said.
                    <br>
                    <br>
                    Umbilical cord blood banking is today regarded as an essential service globally wherein the
                    precious
                    stem
                    cells are collected from the umbilical cord blood and preserved in minus 190 degree Celsius in
                    order to
                    maintain its utility for decades.

                  </p>

                </div>
              </div>
</div>

            </div>
            <div id="art" class="c1">
              <p>
                <br> <br>
                <h3>LIFE CELL</h3>
                <br>
                LifeCell is India's first such private stem cell bank, where you can store the umbilical cord of your
                child for a fee, for future use.
                <br>
                LifeCell, in collaboration with CRYO-CELL International, USA facilitates the cryogenic preservation of
                stem cells at its unique facility in Chennai. LifeCell has set up a 21,000 sq ft laboratory at the cost
                of
                Rs 14 crore on the outskirts of Chennai city.
                <br>
                The storage of stem cells is done at at -196° Centigrade under liquid nitrogen.
                <br>
                LifeCell has offices in Ahmedabad, Bangalore, Chennai, Coimbatore, Delhi, Gurgaon, Hyderabad, Kochi,
                Kolkata, Mumbai, Surat, Chandigarh, Pune, Jaipur, Noida, Calicut, Trivandrum and Dubai and plans to set
                up
                more offices within and outside the country.
                <br> <br>
                The probability of umbilical cord stem cell matching with anyone in the world is larger than that of a
                bone marrow stem cell matching. Out of the 6,800 cases of stem cell transplants that were done last year
                to cure various malignant and non-malignant diseases, more than 300 cases were done from the stem cells
                collected from umbilical cords.
                <br> <br>
                Will not critics look at LifeCell as exploiters of 25 million births in India?
                <br> <br>
                "We are talking about what goes waste after each birth. With 25 million births happening in India, it is
                an opportunity for India. In the process, the entire world will be benefited. LifeCell gets paid only
                for
                the analytical and storage services. All other benefits will go to the trust. Many multinational
                companies
                in the US run such trusts but they also use the umbilical cord stem cells for R&D because a lot of
                research is going on right now on stem cells.
                <br> <br>
                "At present, cure has been found for only six diseases, and there are 74 more diseases where clinical
                trials are going on. We are also in discussion with many such pharma companies and universities. But we
                need government approval before we go deep into all this," he said.
                <br> <br>
                "Once that is done, India will be on the world map as far as stem cells are concerned. Today, one stem
                cell costs about $25,000 (more than Rs 11 lakh)," Chandramouli said.
                <br>
                Of the 25 million births that take place every year in India, LifeCell is looking at a figure of
                200,000-250,000 collections every year.
                <br> <br>
                The 21,000 sq ft lab of LifeCell at present has the capacity to store more than 100,000 stem cells
                which,
                according to the CEO, can go up to 200,000 in a month's time.
              </p>
            </div>

          
        </div>


      </div>

    </div>







  </div>
</div>





<% include partials/footer%>