<% include partials/header%>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
     <div class="container" style="margin-top: 50px">
     	<div id="msgC"></div>
     	 <div id="mapid"></div>
     	 <div id="social">
			<a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/yoddhas" ></a>
			<a class="twitterBtn smGlobalBtn" href="https://twitter.com/yoddhas" ></a>
			<a class="googleplusBtn smGlobalBtn" href="#" ></a>
			<a class="linkedinBtn smGlobalBtn" href="#" ></a>
		
		</div>
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">                        
            <h2 class="form-title">Get in Touch</h2>
          </div>
      </div>

      <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <form id="contact-form" name="myForm" class="form" action="send" onsubmit="return validateForm()" method="POST" role="form">

                  <div class="form-group">
                      <label class="form-label" id="nameLabel" for="name"></label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Your name" tabindex="1">
                  </div>

                  <div class="form-group">
                      <label class="form-label" id="emailLabel" for="email"></label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" tabindex="2">
                  </div>

                  <div class="form-group">
                      <label class="form-label" id="subjectLabel" for="sublect"></label>
                      <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3">
                  </div>

                  <div class="form-group">
                      <label class="form-label" id="messageLabel" for="message"></label>
                      <textarea rows="6" cols="60" name="message" class="form-control" id="message" placeholder="Your message" tabindex="4"></textarea>                                 
                  </div>

                  <div class="text-center margin-top-25">
                      <button type="submit" class="btn btn-mod btn-border btn-large">Send Message</button>
                  </div>

              </form><!-- End form -->
            
          </div><!-- End col -->

      </div><!-- End row -->
      
    </div><!-- End container -->

  </body><!-- End body -->
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<% include partials/footer%>
