<% include partials/header%>

<h1 style="margin-top: 50px">This page will contain the dos and donts for maintaining a healthy lifestyle, for people fighting cancer. Use Infographics to make it more interesting to read.</h1>


<% include partials/footer%>