<% include partials/header%>


<div class="container container-fluid">
    <div class="row row-content" style="margin-top: 50px">
        <div class="col-12">
            <div class="jumbotron">
                <h1 style="text-align: center">FAQ
                    <br>
                    <h3 style="text-align: center">Please Make Sure You Finish <strong>FAQ Below</strong></h3>

                </h1>
            </div>

            <div id="accordion">
                <div class="card">
                    <div class="card-header accordion-heading" role="tab" id="1head">
                        <h3 class="mb-0">

                            <a class="accordion-toggle" data-toggle="collapse" data-target="#Q1">
                                What is Yoddhas - <small>Indians Fighting Against Cancer?</small>
                            </a>

                        </h3>
                    </div>
                    <div class="collapse show" id="Q1" data-parent="#accordion">
                        <div class="card-body">
                            <p class="d-block">It is a forum for all brave Indians fighting against Cancer.
                                We strive to be the trusted source of information and support for anybody dealing
                                with cancer in India.This initiative is purely <strong>NON PROFIT</strong> started by a
                                28 year old male
                                fighting a rare incurable for of Blood Cancer called Multiple Myeloma.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header accordion-heading" role="tab" id="2head">
                    <h3 class="mb-0">
                        <a class="collapsed accordion-toggle" data-toggle="collapse" data-target="#Q2">
                            What is <strong> Yoddhas’s Mission</strong>?
                        </a>
                    </h3>
                </div>
                <div class="collapse" id="Q2" data-parent="#accordion">
                    <div class="card-body">
                        <p class="d-block">Help Patients with:-Emotional, factual, informational support.
                            <br>Motivate and Inspire each other - Basic Inquiry, Discussions , Share experiences, etc
                            <br>

                            Treatments, Medicine reactions, side effects etc.</em></em></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="accordion-heading card-header" role="tab" id="3head">
                    <h3 class="mb-0">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#Q3">
                            Does Yoddhas staff get paid?
                        </a>
                    </h3>
                </div>
                <div class="collapse" id="Q3" data-parent="#accordion">
                    <div class="card-body">
                        <p class="d-block">No. All directors and staff members are volunteers. Despite our heavy
                            academic and professional commitments, we donate our time and energy because we
                            strongly believe that together we can make a real difference to improve the life of cancer
                            patients.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="accordion-heading card-header" role="tab" id="4head">
                    <h3 class="mb-0">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#Q4">
                            What does Yoddhas’s do with my one time donation?
                        </a>
                    </h3>
                </div>
                <div class="collapse" id="Q4" data-parent="#accordion">
                    <div class="card-body">
                        <p class="d-block">Unless you specify which project(s) you wish the money to go to, Yoddhas will
                            put your donation in a general fund .
                            We do not use any portion of your donation to cover our operational expenses.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container container-fluid">
        <div class="row">
            <div class=" col-sm-6 offset-sm-3 ">
                <div class="page-header">
                    <h2>You still have questions? Ask us</h2>
                    <p>If you have any queries that have not been addressed here or require clarification on any of
                        the information provided, please do not hesitate to get in touch with us at the nearest Office
                        to you or email us at
                        <a href="mailto:info@mail.org">info@mail.org
                        </div>
            </div>
        </div>
    </div>





















<% include partials/footer%>