<% include partials/header%>

<h1 style="margin-top: 50px">This page will contain the discussion forum, where anyone can ask questions related to cancer and anyone can answer them. There will be categories and subcategories for discussion. Each discussion will have a seperate page. Anyone can reply to any answer anonymously or by logging in(through google/facebook). Also, the stats of discussion can be shown.</h1>


<% include partials/footer%>