<% include partials/header%>

<h1 style="margin-top: 50px">This page will contain the information about differnt hospitals which provide cancer treatment and allow to view and give reviews and ratings to it.</h1>


<% include partials/footer%>