

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="yoddhasTeam" content="websiteYoddhas">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Yoddhas</title>

	<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/themify-icons.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.css">
	<link rel="stylesheet" href="stylesheets/owl.carousel.css">
	<link rel="stylesheet" href="stylesheets/magnific-popup.css">
	<link rel="stylesheet" href="stylesheets/nice-select.css">
	<link rel="stylesheet" href="stylesheets/mainindex.css">
</head>

<body>

	<!--================ Start Header Area =================-->
	<% include partials/header%>

	<section class="home-banner-area relative" id="home" data-parallax="scroll" data-image-src="/home.jpg">
		<div class="overlay-bg overlay"></div>
		<div class="container">
			<div class="row fullscreen justify-content-lg-end">
				<div class="banner-content col-lg-7">
					<h1>
						YODDHAS <br>
					</h1>
					<h4 style="color: #ff573d">India Fighting Against Cancer.</h4>
					<a href="/contact" class="primary-btn">
						Join us
						<i class="fas fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!--================ End Header Area =================-->

	<!--================ start banner Area =================-->
	<!--    slides-->

	<!--================ End banner Area =================-->

	<!--================ Start About Area =================-->
	<section class="about_area lite_bg">
		<div class="container">
			<div class="row align-items-end">
				<div class="col-lg-5">
					<div class="about_details lite_bg">
						<h2>We Are A Non-profit
							Organization </h2>
						<p class="top_text">
							Our Vision to be the trusted source of information and support for anybody dealing with Cancer in India
						</p>
						<h4> Our Mission :</h4><p class="mb-0">
							<ol>
								<li>To provide a platform for Patients/Caregivers/doctors to connect and help each other.</li>
								<li>Explore & discuss the best hospitals/treatment regimes/food/exercises/alternatives etc.</li>
								<li>To promote awareness about Stem Cell Donor-ship (it’s as simple as donating blood only).</li>
							</ol>
						</p>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-3 col-md-6 offset-md-1 d-lg-block d-none">
					<div class="about_right">
						<div class="video-inner justify-content-center align-items-center d-flex">
							<a id="play-home-video" class="video-play-button" 
							href="https://www.youtube.com/watch?v=YJ-MCNW3oeI">
								<span></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="about_bg d-lg-block d-none"></div>
		</div>
	</section>
	<!--================ End About Area =================-->

	<!--================ Start Features Area =================-->
	<section class="features-area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>How <span>Could</span> You Help</h2>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fas fa-hand-holding-usd"></i>
						<h4>Give Donation</h4>
						<p>Save a life <br> Donate Now.</p>
						<a href="#" class="primary-btn2">Learn more</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fas fa-question"></i>
						<h4>Discuss</h4>
						<p>Ask any question and learn. Or Discuss anything.</p>
						<a href="#" class="primary-btn2">Learn more</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fab fa-connectdevelop"></i>
						<h4>Connect</h4>
						<p>For support call us at 9999 110 600 or
Connect with us through email</p>
						<a href="/contact" class="primary-btn2">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

	<!--================ Start callto Area =================-->
	<section class="callto-area section-gap relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<p class="top_text">Need your help?</p>
					<div class="call-wrap mx-auto">
						<h1>Volunteer Needed At Your Area</h1>
						<!-- <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=_C5vCGB8Xx0">
									<span></span>
								</a> -->
						<p>In that Our I own life unto lights them two appear days rule thing fly main for main cause fowl itself dry
							from made main cause fowl itself dry.</p>
						<a href="#" class="primary-btn mt-5">
							Sign up
							<i class="fas fa-angle-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--================ Start Home Blog Area =================-->
	<section class="blog-area section-gap-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<div class="home-blog-left">
						<h2>Latest From
							Our Blog </h2>
						<p>
							Open fifth midst divided great fly gathering living deep no abundantly. Evening appear saying that forth god
							wito
							Given sixth days of very Third spirit waters seas. Calleded can't his third. Evening upon. All stars. Seasons a
							the a dry for third days
						</p>
						<a href="#" class="primary-btn2">Show more</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b1.jpg" alt="">
					</div>
					<div class="single-blog-info">
						<p class="tag"><span>Homeless, orphan</span><span>March 17, 2019</span></p>
						<a href="blog-single.html">
							<h4>Seed The Life Upon Creature
								Shall Lesser Fifth</h4>
						</a>
						<div class="meta-bottom d-flex">
							<a href="#" class="mr-3"><span class="fas fa-comment"></span> 02 Comments</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b2.jpg" alt="">
					</div>
					<div class="single-blog-info">
						<p class="tag"><span>Homeless, orphan</span><span>March 17, 2019</span></p>
						<a href="blog-single.html">
							<h4>Seed The Life Upon Creature
								Shall Lesser Fifth</h4>
						</a>
						<div class="meta-bottom d-flex">
							<a href="#" class="mr-3"><span class="fas fa-comment"></span> 02 Comments</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Blog Area =================-->

	<!--================ Start Instagram Area =================-->
	<section class="instagram-area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2><span>Follow</span> Us</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="instagram-slider owl-carousel">
			<a href="https://www.instagram.com/yoddhas/" target="_blank" class="single-instagram d-block">
				<div class="instagram-img">
					<img src="/instagram/i1.jpg" alt="">
					<div class="instagram-text">
						<i class="fab fa-instagram"></i>
					</div>
				</div>
			</a>
			<a href="https://www.instagram.com/yoddhas/" class="single-instagram d-block " target="_blank">
				<div class="instagram-img">
					<img src="/instagram/i2.jpg" alt="">
					<div class="instagram-text">
						<i class="fab fa-instagram"></i>
					</div>
				</div>
			</a>
			<a href="https://www.instagram.com/yoddhas/" class="single-instagram d-block " target="_blank">
				<div class="instagram-img">
					<img src="/instagram/i3.jpg" alt="">
					<div class="instagram-text">
						<i class="fab fa-instagram"></i>
					</div>
				</div>
			</a>
			<a href="https://www.instagram.com/yoddhas/" class="single-instagram d-block " target="_blank">
				<div class="instagram-img">
					<img src="/instagram/i4.jpg" alt="">
					<div class="instagram-text">
						<i class="fab fa-instagram"></i>
					</div>
				</div>
			</a>
			<a href="https://www.instagram.com/yoddhas/" class="single-instagram d-block " target="_blank">
				<div class="instagram-img">
					<img src="/instagram/i5.jpg" alt="">
					<div class="instagram-text">
						<i class="fab fa-instagram"></i>
					</div>
				</div>
			</a>
		</div>
	</section>
	<!--================ End Instagram Area =================-->

	<!--================ Start CTA Area =================-->
	<div class="cta-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<p class="top_text">Subscribe now</p>
					<h1>Subscribe Now And Receive The
						Weekly Newsletter </h1>
					<div id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get">
							<div class="row align-items-center">
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'"
									 required="" type="email" />
								</div>
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" name="EMAIL" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'"
									 required="" type="email" />
								</div>
								<div class="col-lg-2">
									<button class="primary-btn" type="submit">Subscribe</button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
									</div>

									<div class="info"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End CTA Area =================-->

	<!--================ start footer Area =================-->
	<% include partials/footer%>
	<!--================ End footer Area =================-->

	<script src="js/indexjs/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="js/indexjs/bootstrap.min.js"></script>
	<script src="js/indexjs/jquery.ajaxchimp.min.js"></script>
	<script src="js/indexjs/parallax.min.js"></script>
	<script src="js/indexjs/owl.carousel.min.js"></script>
	<script src="js/indexjs/isotope.pkgd.min.js"></script>
	<script src="js/indexjs/jquery.nice-select.min.js"></script>
	<script src="js/indexjs/jquery.magnific-popup.min.js"></script>
	<script src="js/indexjs/countdown.js"></script>
	<script src="js/indexjs/jquery.sticky.js"></script>
	<script src="js/indexjs/main.js"></script>
</body>

</html>