<% include partials/header%>

<h1 style="margin-top: 50px">This page will contain the infomation, pictures, stories of people who are survivors and fighters, i.e.,  are inspirations.</h1>


<% include partials/footer%>