<% include partials/header%>

<h1 style="margin-top: 50px">This page will be a simple login system for volunteers/interns to view the pending tasks assigned to them/their department(for example - all design team members will be able to view if a poster is to be made. Anyone who is free can participate. This page will allow the user to accept a task and add the task to the history log when done for future reference and maintaining good workflow among interns). Login page + Log/History Page + Task Page.</h1>


<% include partials/footer%>