<% include partials/header%>

<div class="bgImageLogin">
	<div>
		<form method="POST" action="/register" style="padding-top: 250px;">
			<input type="text" name="username" placeholder="User Name">
			<input type="password" name="password" placeholder="Password">
			<input type="submit">
		</form>
	</div>
</div>
<% include partials/footer%>